.bd-page-width {
    max-width: 110rem;
}

.bd-main .bd-content .bd-article-container {
    max-width: 80%;
}

.bd-sidebar-primary {
    width: 20%;
}

body { counter-reset: codecell; }

.cell .cell_input::before { counter-increment: codecell; content: " In [" counter(codecell) "]"; display: block; font-weight: 500; margin-bottom: 0.25rem; margin-left: 0.5rem; color: var(--pst-color-text, inherit); /* adapts to PyData theme; remove if not needed */ }

